<footer class="footer">
  <span class="footer__logos"><img src="/images/logo_ucc.svg" alt="University College Cork"><img src="/images/logo_marei.svg" alt="MaREI"><img src="/images/logo_seai.svg" alt="Sustainable Energy Authority of Ireland"></span>
  <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</span>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js?{{site.time | date: '%s%N'}}"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/github_api.js?{{site.time | date: '%s%N'}}"></script>
<script>
  document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>
